@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@using System.Drawing
@using RWDNUmbracoModels.Helpers
@using Umbraco.Core.Composing
@using Umbraco.Core.Models.PublishedContent

<script src="/App_Plugins/Grid/Scripts/slideshow.js"></script>

@{
	var imageIds = ValueHelper.ParseIds(Model.value.images.ToString());
	IEnumerable<IPublishedContent> mediaNodes = Umbraco.Media(imageIds);
	
	var images = new List<RWDNUmbracoModels.Models.UmbracoImage>();
	foreach (var mediaNode in mediaNodes) {
		images.Add(new RWDNUmbracoModels.Models.UmbracoImage {
			url = mediaNode.Url
		}); 
	}

	var linkIsExternal = Model.value.link != null && !string.IsNullOrWhiteSpace((string)Model.value.externalLink);
	string link = null;

	int contentId = 0;
	if (Model.value.link != null && int.TryParse(Model.value.link.ToString(), out contentId)) {
		link = Umbraco.Content(contentId).Url;
	} else {
		link = Model.value.externalLink;
	}
	
	<div class="gallery-container">
		@foreach (var image in images)
		{
			<div class="image-slides fade">
				<img src="@image.url" />
			</div>
		}
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>
		
		<br>
		<!-- The dots/circles -->
        <div style="text-align:center">
			<span class="dot" onclick="currentSlide(1)"></span>
			<span class="dot" onclick="currentSlide(2)"></span>
	        <span class="dot" onclick="currentSlide(3)"></span>
	        <span class="dot" onclick="currentSlide(4)"></span>
	        <span class="dot" onclick="currentSlide(5)"></span>
	        <span class="dot" onclick="currentSlide(6)"></span>
	        <span class="dot" onclick="currentSlide(7)"></span>
	        <span class="dot" onclick="currentSlide(8)"></span>
        </div>
	</div>
}
